.slider {
  position: relative;
  margin-top: 65px; }
  .slider #owl-carousel1 .item1 {
    background: green !important; }
  .slider #owl-carousel1 .item2 {
    background: red; }
  .slider #owl-carousel1 .item3 {
    background: #2b4bb5; }
  .slider #owl-carousel1 .container {
    height: 100%;
    padding-bottom: 20px;
    flex-wrap: wrap; }
    .slider #owl-carousel1 .container .text {
      color: #fff;
      padding: 20px 0;
      flex-basis: 50%; }
      .slider #owl-carousel1 .container .text h2 {
        margin: 0;
        position: relative;
        font-size: 50px;
        line-height: normal;
        z-index: 100;
        font-weight: normal; }
      .slider #owl-carousel1 .container .text p {
        margin-top: 0;
        position: relative;
        line-height: normal;
        z-index: 100;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 55px;
        font-weight: normal; }
      .slider #owl-carousel1 .container .text a {
        margin-top: 50px;
        border: 3px solid #fff;
        background: transparent;
        color: #fff;
        padding: 10px 15px;
        padding: 11px 19px;
        font-size: 17.5px; }
    .slider #owl-carousel1 .container .img {
      flex-basis: 50%;
      height: 510px; }
