block  25_3
    block#25_3
        .container
            .header.flex
                .logo
                    .item
                        i.fas.fa-atom.active
                        h1 Phim 4.0
                .list.border.flex-special
                    .line
                    .search
                        input(type="text",placeholder="Search")
                        img(src="http://home.vn/danhba123-theme/images/custom/icon-search.png", alt="")
            .main.flex
                .main1
                    ul
                        li.first
                            a(href="") Xem phim
                                //- span.rotate
                                i.fas.fa-angle-down.rotate
                            ul.dropdown
                                li
                                    a(href="") Hành động
                                li
                                    a(href="") Hài
                                li
                                    a(href="") Kinh dị
                                li
                                    a(href="") Anime
                        li.second
                            a(href="") Xem TV
                                //- span.rotate
                                i.fas.fa-angle-down.rotate
                            ul.dropdown
                                li
                                    a(href="") Hanh dong
                                li
                                    a(href="") Hai
                .main2
                    .products.flex
                        .item
                            img(src="https://picsum.photos/600/700", alt="")
                            p Get started for free and find out what you can accomplish with the power of Grammarly at your fingertips.
                        .item
                            img(src="https://picsum.photos/600/700", alt="") 
                            p Get started for free and find out what you can accomplish with the power of Grammarly at your fingertips.

                        .item
                            img(src="https://picsum.photos/600/700", alt="")
                            p Get started for free and find out what you can accomplish with the power of Grammarly at your fingertips.

                        .item
                            img(src="https://picsum.photos/600/700", alt="")
                            p Get started for free and find out what you can accomplish with the power of Grammarly at your fingertips.

                        .item
                            img(src="https://picsum.photos/600/700", alt="")
                            p Get started for free and find out what you can accomplish with the power of Grammarly at your fingertips.




            

                

