block BT2
        block#BT2
        .part1.flex
            .logo
                p LOGO
            .navbar 
                p NAVBAR
        .part2.flex
            .main1
                p MAIN1
            .main2 
                p MAIN2
        .footer
            p FOOTER
