block header
    header#header
        .container.flex.align-center
            .logo
                a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/logo_new.png", alt="")
            .list
                ul.flex
                    li.big-list: a(href="") Bài hát
                        ul.dropdown
                            li
                                a(href="") VIỆT NAM
                                ul
                                    li
                                        a(href="") Nhạc Trẻ
                                    li
                                        a(href="") Nhạc Trữ Tình
                                    li
                                        a(href="") Remix Việt
                                    li
                                        a(href="") Rap Việt
                                    li  
                                        a(href="") Tiền Chiến
                                    li
                                        a(href="") Nhạc Trịnh
                                    li
                                        a(href="") Rock Việt
                                    li
                                        a(href="") Cách Mạng
                            
                            li
                                a(href="") ÂU MỸ
                                ul
                                    li
                                        a(href="") Pop
                                    li
                                        a(href="") Rock
                                    li
                                        a(href="") Electronica/Dance
                                    li
                                        a(href="") R&B/HipHop/Rap
                                    li
                                        a(href="") Blues/Jazz
                                    li
                                        a(href="") Country
                                    li
                                        a(href="") Latin
                                    li
                                        a(href="") Indie
                                    li
                                        a(href="") Âu Mỹ Khác
                            li
                                a(href="") CHÂU Á
                                ul
                                    li
                                        a(href="") Nhạc Hàn
                                    li
                                        a(href="") Nhạc Hoa
                                    li
                                        a(href="") Nhạc Nhật
                                    li
                                        a(href="") Nhạc Thái
                            li
                                
                                a(href="") KHÁC
                                ul
                                    li
                                        a(href="") Thiếu Nhi
                                    li
                                        a(href="") Không Lời
                                    li
                                        a(href="") Beat
                                    li
                                        a(href="") Thể Loại Khác
                                    li
                                        a(href="") Tui Hát
                    li.big-list: a(href="") Playlist
                        ul.dropdown
                            li
                                a(href="") VIỆT NAM
                                ul
                                    li
                                        a(href="") Nhạc Trẻ
                                    li
                                        a(href="") Nhạc Trữ Tình
                                    li
                                        a(href="") Remix Việt
                                    li
                                        a(href="") Rap Việt
                                    li  
                                        a(href="") Tiền Chiến
                                    li
                                        a(href="") Nhạc Trịnh
                                    li
                                        a(href="") Rock Việt
                                    li
                                        a(href="") Cách Mạng
                            li
                                a(href="") ÂU MỸ
                                ul
                                    li
                                        a(href="") Pop
                                    li
                                        a(href="") Rock
                                    li
                                        a(href="") Electronica/Dance
                                    li
                                        a(href="") R&B/HipHop/Rap
                                    li
                                        a(href="") Blues/Jazz
                                    li
                                        a(href="") Country
                                    li
                                        a(href="") Latin
                                    li
                                        a(href="") Indie
                                    li
                                        a(href="") Âu Mỹ Khác

                            li
                                a(href="") CHÂU Á
                            li
                                a(href="") KHÁC
                    li.big-list: a(href="") Tuyển tập
                        ul.dropdown
                            li
                                a(href="") THỂ LOẠI
                                ul
                                    li
                                        a(href="") Nhạc Trẻ
                                    li
                                        a(href="") Nhạc Trữ Tình
                                    li
                                        a(href="") Pop
                                    li
                                        a(href="") Nhạc Hàn
                                    li  
                                        a(href="") Nhạc Hoa
                                    li
                                        a(href="") Nhạc Trịnh
                                    li
                                        a(href="") Soundtrack
                                    li
                                        a(href="") Không lời
                            li
                                a(href="") TÂM TRẠNG
                                ul
                                    li
                                        a(href="") Buồn
                                    li
                                        a(href="") Hưng phấn
                                    li
                                        a(href="") Electronica/Dance
                                    li
                                        a(href="") R&B/HipHop/Rap
                                    li
                                        a(href="") Blues/Jazz
                                    li
                                        a(href="") Country
                                    li
                                        a(href="") Latin
                                    li
                                        a(href="") Indie
                                    li
                                        a(href="") Âu Mỹ Khác

                            li
                                a(href="") KHUNG CẢNH
                            li
                                a(href="") CHỦ ĐỀ
                    li:a(href="") Video
                    li:a(href="") BXH
                    li:a(href="") Chủ đề
                    li:a(href="") Top 100
                    li:a(href="") Nghệ sĩ
            .header-icon
                ul.flex
                    li
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/avartar_none_login.png", alt="")
                    li
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_VIP_new.png", alt="")
                    li
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_head_new.png", alt="")
                    li
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_upload_new.png", alt="")
            .search
                input.search-input(type="text",placeholder=" Tìm bài hát")
                a(href=""): img.search-icon(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_search_new.png", alt="")
        .container.flex
            .list-song
                .hinhbu
                    img(src="../img/nct1_org.jpg", alt="")
                .hinhnho
                    ul.flex
                        li
                            img(src="../img/nct1_145.jpg", alt="")
                        li
                            img(src="../img/nct2_145.jpg", alt="")
                        li
                            img(src="../img/nct3_145.jpg", alt="")
                        li
                            img(src="../img/nct4_145.jpg", alt="")
                        li
                            img(src="../img/nct5_145.jpg", alt="")
            .list-slide
            .list-todaysong
            .list-bxh.tabs
                ul.flex1
                    li
                        a(href="").active Việt Nam
                    li
                        a(href="") Âu Mỹ
                    li
                        a(href="") Hàn Quốc
                .tab-content
                    .tab.vn-tab.active
                        .big-item.flex1 
                            a(href=""): img(src="https://picsum.photos/200/200", alt="")
                            .detail
                                h2: a(href="") Tên Bài Hát Việt Nam
                                h4: a(href="") Tên Ca sĩ Việt Nam
                    .tab.euro-tab
                        .big-item.flex1
                            a(href=""): img(src="https://picsum.photos/200/200", alt="")
                            .detail
                                h2: a(href="") Tên Bài Hát Âu Mỹ
                                h4: a(href="") Tên Ca sĩ Âu Mỹ
                    .tab.hq-tab
                        .big-item.flex1
                            a(href=""): img(src="https://picsum.photos/200/200", alt="")
                            .detail
                                h2: a(href="") Tên Bài Hát Hàn Quốc
                                h4: a(href="") Tên Ca sĩ Hàn Quốc

            



