<!DOCTYPE html>
html(lang="en")
    block head
        include ./elements/head.pug
    body
        block header 
            include ./elements/header.pug

        //- block main  
        //-     include ./elements/main.pug
        //- block 22_3
        //-     include /elements/22_3.pug

        //- block footer  
        //-     include ./elements/footer.pug
        //- block test
        //-     include ./elements/test.pug

        //- block yourlogo
        //-     include ./elements/yourlogo.pug 
        //- block BT1
        //-     include ./elements/BT2.pug
        //- block 25_3
        //-     include ./elements/25_3.pug
        block scripts
            include ./elements/scripts.pug
