// header#header{
//         .img1{
//             color: yellow;
//             weight: 30vw;
//             height: 10vh;
//         }
//         .img2{
//             color: green;
//             weight: 70vw;
//             height: 10vh;    
//         }
// }
// main{
//     .main1.main2{
//         weight: 50vw;
//         height: 80vh;
//     }
    
// }
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: auto;
    // position: relative;
}
                                                    //  project nhaccuatui
#header{
    padding: 6px 0px 7px 0px;
    border-bottom: 1px solid #dadada;
    
}
.icon1{
    color: #e74c3c !important;
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) 26px -4094px no-repeat;
    background-image: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png);
    background-position-x: 26px;
    background-position-y: -4094px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-right: 17px !important;
}
.align-center{
    align-items: center;
}
.header-icon{
    margin-left: auto;
    width: 180px;
}
.list{
    width: 500px;
    margin-left: 15px;
}
.search-icon{
    background: #2f80ed;
    position: relative;
    left: 240px;
    top: -40px;
    padding: 10px;
    border-radius: 5px;
}
.search-input{
    height: 40px;
    width: 279px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #2f80ed;
    padding: 5px;
}
.search{
    width: 280px;
    height: 40px;
    padding: 0px 20px;
}
.title{
    padding: 0;
    color:rgb(51, 51, 51)  !important; 
    font-size: 15px;
                    /* su dung important de danh dau css nay quan trong
                    can duoc uu tien */
}
.dropdown{
    padding: 30px;
    margin-top: 21px;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
    background: white;
    position: absolute;
}

.dropdown li{
    width: 140px;
}
.dropdown a{
    margin-bottom: 15px;
    color: rgb(0, 0, 0)    ;
    font-size: 14px;
    font-weight: bold;
}
.dropdown ul{
    padding-top:30px;
}
.dropdown li ul li{
    margin-bottom: 15px;
}
.big-list:hover .dropdown{
    display:flex;
}
.big-list{
    position: relative;
}
.title-child-list.title:hover{
    color: #2f80ed !important 
}

                                                        // tao menu 3 gach
// $line-color: red;

// #test{
    
//     .line{
//         width: 60px;
//         height: 5px;
//         margin: 100px ;
//         background: $line-color;
//         position: relative;
//         cursor: pointer;
//         padding: 15px 0px;
//         background: yellow;
//         display: inline-block;
//         &::before{
//             position: absolute;
//             content: '';
//             width: 100%;
//             height: 100%;
//             left: 0;
//             top: -20px;
//             background: $line-color;

//         }
//         &::after{
//             position: absolute;
//             content: '';
//             width: 100%;
//             height: 100%;
//             left: 0;
//             top: 20px;
//             background: $line-color;
//         }

//     }
// }
// img{
//     width: 100%
// }
// #test{
//     display: flex;
//     flex-wrap: wrap; 
//     // xuong dong khi vuot qua cha
//     .item{
//         margin: 5px;
//         width: 300px;
//         flex-basis: 300px; 
//         // giong voi width nhung dc uu tien hon, chi su dung vói flex
//     }
// }


                                // #yourlogo
.list-song{
    width: 800px;
    position: relative;
    // margin: auto;
    .hinhbu{
        
    }                              
    .hinhnho{
        position: absolute;
        // flex-basis: 20%;
        bottom: 4px;
        // left: 0;
        background: #333;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        width: 100%;
        ul{
            // display: flex;
            width:100%;
            li{
                width: 100%;
                position: relative;
                img{
                    // height: 100%;
                    width: 100%;
                    position: relative;
                    z-index: 3;
                    padding-right: 10px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 89%;
                    height: 83%;
                    // background: red;
                    left: 0;
                    top: 0;
                    z-index: 5;
                    border: 4px solid red;
                    // transform: scale(1.05,1.1);
                    display: none;
                }
                &:hover{
                    &::after{
                        display: block;
                    }
                }
            }
        }
        
    }
}

img{
    max-width: 100%;
    // padding: 9px;
}
// ul.products.flex{
//     position: absolute;
//     // background-color: aquamarine;
//     li{
//         margin-right: 20px;
//         position: relative;
//         img{
//            height: 100%;
//            position: relative;
//            z-index: 3;                 
//         }
//         &::after{
//             position: absolute;
//             content: " ";
//             width: 95%;
//             height: 93%;
//             z-index: 4;
//             left: 0;
//             top: 0;
//             border: 4px solid red;
//             display: none;
//             // transform: scale(1.05,1.1);
//         }
//         &:hover{
//             &::after{
//                 display: block;
//             }   
//         }              
//     }          
// }
.flex1{
    display: flex;
    // justify-content: space-between;
    // align-items: center;
}

.list-bxh{
    ul{
        margin-bottom: 20px;
        li{
            margin-right: 1px;
            &:last-child{
                margin-right: none;
            }
            a{
                padding: 5px 8px;
                background: rgba(#dadada, 3.0);
                color:#e74c3c ;
                &:hover{
                    background:#e74c3c ;
                    color: #dadada
                }
                &.active{
                    background:#e74c3c ;
                    color: #dadada
                }
            }
            &:first-child{
                a{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
            }
            &:last-child{
                a{
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
                
            }
        }
    }
    .tab-content{
        position: relative;
        .tab{
            position: absolute;
            top: 0;
            bottom: 0;
            display: none;
            &.active{
                display: block;
            }
        }
    }
}